body {
  background-image: url("../img/background.jpg");
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.thousand {
  font-size: 97px;
  line-height: 113px;
  fill: #ffe300;
  font-weight: 800;
  font-style: italic;
  font-family: "Montserrat-ExtraBoldItalic", "Montserrat";
}

.container {
  margin-top: 3.5rem;
}

form label {
  width: 172px;
  height: 18px;
  font-size: 16px;
  line-height: 24px;
  color: #ffe300;
  font-weight: 500;
}

.input {
  width: 100%!important;
  height: 30px!important;
  border-radius: 2px!important;
  background-color: #f4f4f4!important;
}

form .row{
  margin: 0;
}

button {
  background-color: #ffe300;
  margin: 15px;
  height: 2rem;
  border: none;
  width: 90%;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
}

img {
  width: 83%;
}